<div
  class="custom-alert-container"
  *ngIf="!dismissible || dismissible && !dismissed"
  [@fadeIn]="!dismissed"
  [@fadeOut]="!dismissed">

  <!-- Border -->
  <div
    class="custom-alert-border"
    *ngIf="appearance === 'border'"></div>

  <!-- Icon -->
  <div
    class="custom-alert-icon"
    *ngIf="showIcon">

    <!-- Custom icon -->
    <div class="custom-alert-custom-icon">
      <ng-content select="[customAlertIcon]"></ng-content>
    </div>

    <!-- Default icons -->
    <div class="custom-alert-default-icon">

      <mat-icon
        *ngIf="type === 'primary'"
        [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>

      <mat-icon
        *ngIf="type === 'accent'"
        [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>

      <mat-icon
        *ngIf="type === 'warn'"
        [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>

      <mat-icon
        *ngIf="type === 'basic'"
        [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>

      <mat-icon
        *ngIf="type === 'info'"
        [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>

      <mat-icon
        *ngIf="type === 'success'"
        [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>

      <mat-icon
        *ngIf="type === 'warning'"
        [svgIcon]="'heroicons_solid:exclamation'"></mat-icon>

      <mat-icon
        *ngIf="type === 'error'"
        [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>

    </div>

  </div>

  <!-- Content -->
  <div class="custom-alert-content">

    <div class="custom-alert-title">
      <ng-content select="[customAlertTitle]"></ng-content>
    </div>

    <div class="custom-alert-message">
      <ng-content></ng-content>
    </div>

  </div>

  <!-- Dismiss button -->
  <button
    class="custom-alert-dismiss-button"
    mat-icon-button
    (click)="dismiss()">
    <mat-icon [svgIcon]="'heroicons_solid:x'"></mat-icon>
  </button>

</div>
