<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-center flex-auto min-w-0">
  <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo -->
      <div class="w-12 logo-text">
        <img src="../../../../assets/pictures/logo/logo.png" alt="logo">
        <span class="font-medium">DST </span>
      </div>

      <!-- Title -->
      <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">ՄՈՒՏՔ ՀԱՄԱԿԱՐԳ</div>

      <dst-alert
        class="mt-8"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
      </dst-alert>

      <!-- Sign in form -->
      <form
        class="mt-8"
        [formGroup]="signInForm"
        #signInNgForm="ngForm">

        <!-- Email field -->
        <mat-form-field class="w-full">
          <mat-label>Մոտքանուն</mat-label>
          <input
            id="userLogin"
            type="text"
            matInput
            [formControlName]="'user_login'">
          <mat-error *ngIf="signInForm.get('user_login').hasError('required')">
            մուտքանունն  անհրաժեշտ է
          </mat-error>
          <mat-error *ngIf="signInForm.get('user_login').hasError('user_login')">
            Խնդրում եմ մուտքագրել գործող էլ.հասցե
          </mat-error>
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field class="w-full">
          <mat-label>Գաղտնաբառ</mat-label>
          <input
            id="userPassword"
            matInput
            type="password"
            [formControlName]="'user_password'"
            #passwordField>
          <button
            mat-icon-button
            type="button"
            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
            matSuffix>
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordField.type === 'password'"
              [svgIcon]="'heroicons_solid:eye'"></mat-icon>
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordField.type === 'text'"
              [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
          </button>
          <mat-error>
            Գաղտնաբառը անհրաժեշտ է
          </mat-error>
        </mat-form-field>

        <!-- Actions -->
        <div class="inline-flex items-end justify-between w-full mt-1.5">
<!--          <mat-checkbox-->
<!--            [color]="'accent'"-->
<!--            [formControlName]="'rememberMe'">-->
<!--            հիշել-->
<!--          </mat-checkbox>-->
          <a
            class="text-md font-medium text-primary-500 hover:underline whitespace-nowrap"
            [routerLink]="['/forgot-password']">Մոռացե՞լ էք գաղտնաբառը?
          </a>
        </div>

        <!-- Submit button -->
        <button
          class="dst-mat-button-large w-full mt-6"
          mat-flat-button
          [color]="'warn'"
          [disabled]="signInForm.disabled"
          (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Մուտք
                    </span>
          <mat-progress-spinner
            *ngIf="signInForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

        <!-- Separator -->
        <div class="flex items-center mt-8">
          <div class="flex-auto mt-px border-t"></div>
        </div>
      </form>
    </div>
  </div>
</div>
